## Equations

#### Hisab ka Rule: => BODMAS

Bracket of Order-power ** Divide Multiplication Addition & Subtraction

In [46]:
 (100 - (5*6) + 4**2) / ((27 / 3) + (2 * 2)) # bodmas

# Hisab kitab (Calculation):

# Sab se pehle (5 * 6) हल hoga, jo ke 30 hai.

# Phir 4**2 हल hoga, jo ke 16 (exponent yani 4 ka square) hai.

# 100 − 30 + 16 

# Ab left to right arithmetic hoga (subtraction aur addition same priority hain)   

# 100 -30 = 70

# 70 + 16 = 86

# phly ye wla bracket (27 / 3) = 9.0  + then 2nd ( 2 * 2 ) = 4

# 9 + 4

# Ab expression yeh ban jayega: 86 / ( 9 + 4) .  

# phly bracket 13 Aakhir mein division hogi: 86 / 13 ka jawab 6.615384615384615 hai.

6.615384615384615

In [48]:
40.5 * 2 - ( (25 + 11) / (3**2 - 5) )
#          9.0        36          4

72.0

In [13]:
((300 % 13) + 9) * (2 + 3**3) / 5
#       10 *            29 / 5

58.0

In [9]:
  ((5*2)**2) - (((64/8) + (9 % 5)) * (7 - 3)) # bodmas
# (10 **2) -   (( 8.0 +     4)     * (7 -3) )
#               (   12.0 *              4 )
#      100             48.0   # = 52.0

52.0

In [20]:
 ((((3**3) + (16/4)) * 2) - (50 / (5*2))) / (7 - (9 % 4))
# ((( 27   + (16/4)) * 2) - (50/ (5*2))) / (7 - (9%4) )
# ((( 27  +   4.0 ) * 2 ) - ( 50/(5*2))) / (7 - (9%4))
# ((   31.0 * 2 ) - 5.0 ) / ( 7 - 1)   = answer 9.5

9.5

## Arithmetic Operators
So, there are 7 categories/kinds of Arithmetic operators in Python.

In [1]:
# + → Addition
5 + 3.8        # Answer = 8.8

8.8

In [2]:
# - → Subtraction
5 - 3.8        # Answer =

1.2000000000000002

In [3]:
# * → Multiplication
5 * 12       # Answer = 60

60

In [4]:
# / → Division (always returns float)
10 / 4.0000  # Answer =

2.5

In [18]:
# % → Modulus (Remainder)
5 % 2

1

In [11]:
# ** → Exponentiation (Power)
print( 5 ** 12 )  # Answer = 
print( 5 ** 2 )
print( 3 ** 2 )

244140625
25
9

In [21]:
# // → Floor Division (Quotient without decimal)
5 // 4  # Answer =

1

## Comparison Operators in Python

#### There are 6 main comparison operators:
(1) == , (2) != , (3) < , (4) > , (5) <= , (6) >=

In [31]:
# == → Equal to

a = 2
b = 2.000

print(a == b)
print(3 == 5)

True
False

In [33]:
# != → Not equal to

# 2 != 2  # false
5 != 6

True

In [37]:
# < → Less than

# a < b  # = false
# 2 < 1    # = false   ( 2 chota nh ha 1 sy 
10 < 22  # true  ( 10 chota ha 22 say

True

In [40]:
# > → Greater than

# a > b    #   a variable or b yani 2 bra nh ha 2.00 say # false
10 > 5    #   true
2 > 2.1

False

In [46]:
# <= → Less than or equal to

# 2 <= 2   # true
# 2 <= 1   # false    2 are not equal and small into 1 
# 1 <= 2  # true    #   if 1st condition is correct then return true (1st & 2nd are false then return the false)
# 5 <= 5   # True   #  1st condition is correct return the true     5 equal into 5 value  
# 4 <= 5   # True   #   4 value is small 5 value return true
6 <= 5   # False    #  2 condit are false return the false

False

In [49]:
# >= → Greater than or equal to

# 5 >= 5   # True  #  1st false 2nd true then return the true
# 6 >= 5   # True
4 >= 5   # False

False

### 3. Logical Operators 

and , or , not

Logical operators allow you to combine multiple conditions into one complex condition. These operators are commonly used to combine relational conditions and make decisions based on multiple criteria.

In [22]:
# 1) Using and opertor

# Write a Python expression that checks if:
# age is greater than 18 and less than 30.

age = 20

print(age > 18 and age < 30) # true & true = true  1st is true & 2nd is true return the true
print(age > 28 and age < 30) # false & true = false    1st is negative 2nd is positive return the false
print(age > 20 and age < 20) 

11 > 9 and (9 > 4 and 5 < 2) # true -> true -> false = false

True
False
False

False

In [31]:
# Q2: Using or opertor

# Suppose:
# Check if day is "Saturday" or "Sunday".
day = "Sunday"

print(day == "Sunday" or day != "Sunday") # 1st is true 2nd is false  return true

print(day == "tuesday" or day == "Saturday") # 1st 2nd is false = false 

# koe 1 condition kay true hony par return true krdega

11 > 9 and (9 > 4 or 5 < 2) # true -> true -> false = true   {uper yahi and operat me false hoa or opert me true ha}
3 > 10 or 900 < 190    # false -> false = false

True
False

False

In [59]:
# Q3: Using not operator      [not operator reverse show krta ha true hoga tw false show krdega ]

is_raining = False
is_raining2 = True
# Write a condition that prints "Take an umbrella" only if it is not raining.

if not is_raining2:   # if not True: → if False:
    print("take an umbrella")        # Jab condition False hoti hai, print statement run nahi hoti.

if not is_raining:  # if true ha 
    print("Take an Umbrella")       # RUN THIS PRINT

Take an Umbrella

In [37]:
print( not 3 > 4) # False (kyunki 3 chhota hai 4 se) =  return true  [show the reverse answer]

print(not 10 > 1) # True (10 bra ha 1 sy) = return false 

print(not 5 == 5) # statement is true but return the false 

print( not (11 > 3) or (11 > 9 and 9 == 9)) # true true true = return the true

True
False
False
True

In [9]:
# Q4: Combine all three

# Given:

marks = 75
passed = True

# Check this condition:

marks > 50 and passed == True or not marks < 40 # all are true condition return the true statement

# 👉 Predict the result (True or False).

True

### 4. Assignment Operators 
#### Operators that are used to assign a value to a variable, and in some cases, update the variable’s existing value.
(8 main)

= (Assign value)

+= (Add & assign)

-= (Subtract & assign)

*= (Multiply & assign)

/= (Divide & assign)

%= (Modulus & assign)

**= (Power & assign)

//= (Floor divide & assign)

#### = (Assign value)

In [1]:
Num =+3  # shortcut method to create a variable and assign add a value that is add a value of 2

In [2]:
Num # empty variable tha then

3

#### += (Add & assign)

In [13]:
num1 = 2
num1

2

In [14]:
num1 + 2 # num1 ko tempurury update kia

4

In [15]:
num1 # num1 again wohi ha

2

In [16]:
num1 = num1 + 2 #  num1 ki jo current value hai us me 2 add karke dobara num1 me store kar dena.

num1 # call the variable

4

In [17]:
num1 += 2.1  # shortcut value add and assigning to variable

In [18]:
num1

6.1

#### -= (Subtract & assign)

In [3]:
num_2 = 3
num_2

3

In [4]:
num_2 -= 2 # shortcut value subtraction and assigning to variable
num_2

1

#### *= (Multiply & assign)

In [5]:
num_2 *= 6  # shortcut value multiplication and assigning to variable
num_2

6

#### /= (Divide & assign)

In [6]:
num_2 /= 3  # divide & assigning value to variable
num_2

2.0

#### %= (Modulus & assign)

In [9]:
Num_3 =+ 7  # to create a varibale & add value 7

Num_3

7

In [10]:
Num_3 %= 3 # modulus & reminder & assigning value to variable

In [11]:
Num_3

1

#### **= (Power & assign)

In [14]:
Num_4 = 3
Num_4

3

In [15]:
Num_4 = Num_4 ** 3

Num_4

27

In [18]:
Num_5 = 3 # 2nd variab create
Num_5

3

In [19]:
Num_5 **= 3 # shortcut

Num_5

27

#### //= (Floor divide & assign)

In [20]:
Num_5 //= 3

In [21]:
Num_5

9

### 5. Bitwise Operators (6)
(works on bits – binary level)

& (AND)

| (OR)

^ (XOR)

~ (NOT / Complement)

<< (Left shift)

>> (Right shift)

### 6. Membership Operators (2)

Membership operators are used to test whether a value is present in a sequence (such as a list, tuple, or string). (returns Ture or False)

(1) in
(2) not in

It is used to check the data types (list, tuple, string, set, dict, array, etc.) in a database to see if there is any one inside.

In [27]:
text = "I'm trying to learn python and implement it."
print(text)

"python" in text

I'm trying to learn python and implement it.

True

In [28]:
"earn" in text

True

In [29]:
"Implement" in text # I capital ha => return false

False

In [26]:
sentence = "Learn Python"

"Python" in sentence

True

#### not in

In [31]:
"Python" not in sentence

False

In [35]:
text2 = "Python Programming" # initialize a variable 

print("Python" in text2) # yes included
print("Java" not in text2) # not included

True
True

In [40]:
fruits = ["Mango", "Banana", "Apple", "Pineapple"]

print("watermellon" in fruits)
print("Banana" in fruits)

print("casteredapple" not in fruits)
print("Pineapple" not in fruits)

False
True
True
False

### 7. Identity Operators (2)

is

is not

#### Practice Questions

In [41]:
# Check if a person is old enough to vote (age >= 18). Just print the Boolean result.
age = 20

print(age >= 18)

True

In [57]:
# Compare the lengths of two strings and print if they are equal

First_Name = "Anas"
Last_Name = "Irfan"

print(First_Name, Last_Name)

len(First_Name) == len(Last_Name)    # 3no me if else ya elif jo lgay lgao

Anas Irfan

False

In [25]:
# Is a number divisible by 3 or 5? 

try:
    userNum = int(input("Enter a number: "))
    
    if userNum % 3 == 0 or userNum % 5 == 0:
        print(f"{userNum} is completely divisible")
    else:
        print(f"{userNum} is not divisible")

except ValueError:
    print("Invalid input! Please enter a valid number.")

Enter a number:  1.4

Invalid input! Please enter a valid number.

In [2]:
# Check if the word 'code' is in the sentence
sentence = "I love to write code every day"
"code " in sentence

True

#### Input Function

In [47]:
# even or odd statement

In [51]:
try:
    user_Number = int(input("Enter a Number :"))

    if user_Number % 2 == 0 and user_Number != 0:
        print("Even Number")
    elif user_Number % 2 == 1:
        print("Odd Number")
    else:
        print("The number is Zero")

except ValueError:
    print("Invalid input! Please enter a valid number.")

Enter a Number : 12

Even Number

### IF-ELIF-ELSE

In [ ]:
# elif grading bh 1 he ha

#### . Grading system

### Nested IF